body {
    font-family: "Arial", sans-serif;
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
    padding: 50px;
  }
  
  h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2em;
    margin-bottom: 40px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  li {
    width: 500px;
    margin-bottom: 40px;
  }
  
  a {
    text-decoration: none;
    color: #3498db;
    font-size: 1.5em;
    border: 2px solid #3498db;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    display: block;
  }
  
  a:hover {
    background-color: #3498db;
    color: #ecf0f1;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #34495e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .game {
    background-color: #2c3e50;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .game img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  